.t1{
	width: 450px;
    padding: 20px;
    position: fixed;
    color: #8B0000;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.t2{
	width: 450px;
    padding: 20px;
    position: fixed;
    color: #8B0000;
    top: 10%;
    left: 60%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

#txt1{
	width: 450px;
    padding: 20px;
    position: fixed;
    color: #8B0000;
    font-size: 25px;
    top: 35%;
    left: 20%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

#txt2{
	width: 450px;
    padding: 20px;
    position: fixed;
    color: #8B0000;
    font-size: 25px;
    top: 35%;
    left: 60%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

body{
text-align: center;
background-image: url('https://i.pinimg.com/originals/82/c4/a0/82c4a00ccce28d4401cc32c89a3078ce.gif');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50%;
background-size: cover;
height: 100vh;
}
