h3{
		color: white;
			font-size: 30px;
			background-color: black;
					}

						body{
							text-align: center;
							background-image: url('https://thumbs.gfycat.com/OilyDeadlyBaleenwhale-size_restricted.gif');
        					background-repeat: no-repeat;
        					background-attachment: fixed;
          					background-position: 50%;
           					background-size: cover;
           					height: 100vh; 
									}

									#lien{
										font-size: 30px;
										text-align: left;
										}

											.derrox{
												color: red;
												font-size: 150px;	
												}$

													.yd{
														color: green;
														}


														.yy{
															color: green;
															}


															.discord{
																color: yellow;
																}
	

																.clickrc{
																	color: white;
																	font-size: 30px;
																	padding: 10px;
																	background-color: black;
																	}


