h1{
	color: red;
	font-size: 150px
	
	
}

h3{
	color: green;
	font-size: 30px
}

#lien{
	font-size: 30px
}


body{
	text-align: center;
	background-image: url('https://thumbs.gfycat.com/OilyDeadlyBaleenwhale-size_restricted.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 50%;
            background-size: cover;
            height: 100vh;

  
}	

#page2{	
	font-size: 30px;
}
